@{
    ViewData["Title"] = "Admin Paneli";
}
<div class="container mt-5">
    <h2 class="text-center">Admin Paneli</h2>
    <div class="row mt-4">
        <div class="col-md-4">
            <a class="btn btn-primary w-100" href="@Url.Action("AddService", "Admin")">Servis Ekle</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary w-100" href="@Url.Action("AddEmployee", "Admin")">Çalışan Ekle</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary w-100" href="@Url.Action("ApproveAppointments", "Admin")">Randevuları Onayla</a>
        </div>
    </div>
</div>
